
table {
  padding: 0;
  thead {
    border-bottom: 1px solid cyan;
  }
  tfoot {
    border-top: 1px solid cyan;
    th {
      color: #bbb !important;
    }
  }
  tbody {
    tr {
      td {
        padding: 2px;
        margin: 0;
        vertical-align: middle;
        font-size: 13px;
        span, small {
          display: block;
        }
        small {
          margin-top: -4px;
          color: #888;
        }       
        .status {
          color: #fff;
          background-color: #808080;
          font-weight: 600;
          outline: none !important;
          background-color: transparent;
          border: 1px solid rgb(100, 176, 162);
          color: rgb(105, 105, 105);
          cursor: default;
          &.withName {
            font-size: 10px;
            padding: 4px 10px;
            border-radius: 15px;
            display: none;
          }
          &.withIcon {
            border-radius: 4px 10px;
            width: 35px;
            height: 35px;
            display: block;
            box-shadow: -2px 2px 2px #ddd;
            icon{
              margin-top: -1px;
              font-size: 12px !important;
              color: rgb(184, 183, 183) !important;
            }
          }          
          &.checked {
            color: white;
            background-color: rgb(215, 77, 77);            
            border: 1px solid transparent;
            cursor: default;
            icon {
              color: white !important;
            }
          }
          &.pendent{
            background-color: rgb(59, 130, 54);
            color: white;
            icon {
              color: white !important;
            }
          }
          &.cursor-default {
            cursor: default;
          }
          &.cursor-pointer {
            cursor: pointer;
          }         
        }              
      }     
    }
  }  
}
