  <main style="background-image: url('assets/images/Auth/test.png');">
  <div class="wrapper">
    
    <div class="container-logo">
      <img src="assets/images/Auth/logo.png" />
    </div>    
    
    <div *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert" class="danger">
      <p class="alert-title"><b>{{ translate.login.title.error }}</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </div>
    
    <div *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert" class="success">
      <p class="alert-title"><b>{{ translate.login.title.success }}</b></p>
      <ul class="alert-message-list" >
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
      </ul>
    </div>   
    
  </div>
</main>

<!-- Loader -->

<div id="mainLoadingTaskAuth"  class="loadingTask">
  <div class="loadingio-spinner-rolling-o7st382gcni wrapper">
    <div class="ldio-othlwtmaj0k">
      <div></div>
    </div>
  </div>
</div>