
<div id="custom-header" *ngIf="!loading">

  <div class="container-header">

    <div class="container-search">
      <button class="btnFilter" (click)="onFilter()">
        <button class="badge" *ngIf="filtersBadge > 0">{{ filtersBadge }}</button>
        <icon name="funnel-outline" pack="eva"></icon>
      </button>

      <div class="searchBar">
        <input type="text" [placeholder]="translate.searchBar.placeholder" autocomplete="off" (keydown.enter)="onSearch()" #inputSearch />
        <button (click)="onSearch()"><icon name="search" pack="fa"></icon></button>
      </div>
    </div>

    <div class="container-buttons">
      <ng-content select="[slot=buttons-of-header]"></ng-content>
    </div>

  </div>

  <div class="container-tools">

    <div class="container-info">
      <small *ngIf="countData?.total">{{ translate.count.label[0] }} <b>{{ (countData.current ?? 0) }}</b> {{ translate.count.label[1] }} <b>{{ (countData.total ?? 0) }}</b></small>
    </div>

    <div class="container-buttons">
      <button *ngIf="orderSettings.enabled" class="btn-view-mode btn {{ orderSettings.order == -1 ? 'active' : '' }}" title="translate.orderBy.label" (click)="onChangeOrderBy()"><icon name="bar-chart-2-outline" pack="eva"></icon></button>
      <ng-content select="[slot=buttons-of-tools]"></ng-content>
    </div>

  </div>

</div>
