
modal {
  #container-view {
    .container-data {
      padding: 0 5px;
      section {
        margin-bottom: 12px;
        h5 {
          line-height: 22px;
          font-size: 14px;
          font-weight: 600;
          margin: 0 0 10px;
          border-bottom: 1px solid #ddd;
        }

        .payment-methods-tr > td{
          // border: 1px solid cyan;
          margin-bottom: 5px;
        }

        .paymentMethods {
          padding: 15px 20px;
          table {
            table{
              margin: 0 !important;
            }
            tr {
              text-align: left;
              th {
                color: #666;
                font-weight: 600;                      
              }
              th, td {
                vertical-align: middle;
                padding: 2px 10px;
                font-size: 13px;    
                span {
                  display: block;
                }
                &:last-child {
                  text-align: right;
                }
              }    
              &.payment-history {
                padding: 0 !important;
                td {
                  padding: 0 auto !important;
                  margin: 0 !important;
                  border-top: 1px solid #ddd !important;
                  border-bottom: 1px solid #ddd !important;
                  small {
                    margin: 0 !important;
                    padding: 0;
                    color: gray;
                    line-height: 5px;
                  }
                  &:first-child {
                    padding-left: 25px;
                    min-width: 150px;
                  }
                }
              }
              &.payment-note {
                background-color: #eee;
                span {
                  &.note {
                    color: #999;
                    padding: 5px 0;
                    padding-left: 15px;
                    font-size: 12px;
                    line-height: 13px;
                    text-align: left;
                    b {
                      color: #777;
                      font-weight: 600;
                    }
                  }
                }
              }
              &:last-child {
                border-bottom: none;
              }
            }                 
          }
        }

        .content {
          padding-left: 15px;
          p {
            margin: 0;
            span {
              font-size: 13px;
              line-height: 16px;
              display: inline;
              &.label {
                color: #666;
                font-weight: 600;
              }
              &.value {
                color: #888;
                margin-left: 4px;
              }
            }
          }         
        }
        &.products {
          .content {
            table {
              margin: 0;
              thead {                  
                tr {
                  font-size: 11px;                    
                  th {
                    color: #777;
                    padding: 0 10px;
                    font-weight: 500;
                    text-align: center;
                    vertical-align: middle;
                    border-bottom: 1px solid #ddd;
                  }                  
                }
              }
              tbody {
                tr {
                  border-bottom: 1px solid #ddd;
                  td {
                    padding: 5px;
                    vertical-align: middle;
                    border-right: 1px solid #eee;                      
                    span {
                      font-size: 12px;
                      &.price {
                        color: goldenrod;
                      }
                    }   
                    &:nth-child(1), &:nth-child(3),
                    &:nth-child(4), &:nth-child(5),
                    &:nth-child(6) {
                      text-align: center;
                    }                  
                    &:last-child {
                      border-right: none;
                      span.price {
                        color: green;
                      }
                    }
                  }            
                  &:last-child {
                    border-bottom: none;
                  }
                }               
              }
            }
          }
        }
        &.balance {
          .content {
            table {
              margin: 0;
              tbody {
                tr {
                  border-bottom: 1px dotted #ccc;
                  td {
                    padding: 4px 0;
                    vertical-align: middle;
                    .container-fields {
                      margin-top: 10px;
                    }                  
                    span {
                      font-size: 13px;                  
                      &.label {
                        color: #888;
                        font-weight: 400;
                        margin-right: 4px;
                      } 
                      &.value {
                        color: coral;
                      } 
                      &.price {                 
                        color: goldenrod;
                      }
                    }
                    & > span {
                      display: block;
                    }
                    &:last-child {
                      width: 100px;
                      text-align: right;
                    }
                  }
                  &:last-child {
                    padding: 10px;
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
        &.installments {
          .content {
            table {
              margin: 0;
              thead {
                tr {
                  font-size: 11px;
                  th {
                    color: #777;
                    padding: 0 10px;
                    font-weight: 500;
                    text-align: center;
                    vertical-align: middle;
                    border-bottom: 1px solid #ddd;
                  }
                }
              }
              tbody {
                tr {
                  border-bottom: 1px dotted #ddd;
                  td {
                    padding: 5px;
                    text-align: center !important;
                    vertical-align: middle;
                    border-right: 1px solid #eee;
                    span {
                      font-size: 12px;
                      &.status {
                        &.closed {
                          icon {
                            color: coral;
                          }
                        }
                        &.open {
                          icon {
                            color: #bbb;
                          }
                        }
                      }
                      &.monetary {
                        color: goldenrod;
                        font-weight: 600;
                      }
                    }
                    &:first-child {
                      width: 65px;
                    } 
                    &:last-child {
                      border-right: none;
                    }
                  }
                  &:last-child {
                    border-bottom: none;
                  }
                }

                .parcel-tr{
                  border: 1px solid rgb(65, 136, 158) !important;
                }
              }
            }
          }
        }
        &.note {
          .content {
            width: 100%;
            padding-left: 15px;
            color: #777;
            white-space: pre-line;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
          }            
        } 
        &.attachment {
          padding-top: 15px;
          .container-file {
            border: 1px solid #ddd;
            border-radius: 8px;
            table {
              width: 100%;
              tr {
                td {    
                  padding: 8px 10px;
                  vertical-align: middle;
                  span {              
                    font-size: 13px;
                    &.no-file {
                      color: #666;
                    }
                  }
                  button {
                    width: 35px;
                    height: 35px;
                    outline: none;
                    border: none;
                    border-radius: 100%;
                    color: gray;
                    background-color: transparent;
                    transition: all 0.5s ease-in-out;
                    icon {
                      font-size: 16px;
                    }
                  }
                  &:first-child {
                    background-color: #ddd;
                    icon {
                      font-size: 16px;
                    }
                  }
                  &:last-child {
                    &:hover {
                      button {
                        background-color: rgb(102, 102, 255);
                        color: #fff;
                      }
                    }
                  }
                  &:first-child,
                  &:last-child {
                    width: 50px;
                    text-align: center;
                  }
                }
              }
            }
            a {
              display: none;
            }
          }
        }
      }
      .btnPrint {
        font-size: 13px;
        outline: none;
        border-radius: 7px;
        border: none;
        padding: 8px 20px;
        margin: 0 auto;
        display: block;
        color: #fff;
        box-shadow: 0 2px 4px #ccc;
        background-color: rgb(102, 102, 255);
        transition: all 0.5s ease-in-out;
        icon {
          font-size: 15px;
          margin-right: 4px;
        }                                  
        &:hover {
          opacity: 0.8;
        }  
      }
    }
    .container-accept,
    .container-cancel,
    .container-delete {
      .container-confirmation {
        margin-top: 30px;
        border-top: 1px solid #ccc;
        .container-info {
          padding: 20px 10px;
          p {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: gray;
          }
          small {
            width: 75%;
            margin: 0 auto;
            color: rgba(255, 0, 0, 0.75);
            text-align: center;
            display: block;
          }
        }
        .container-buttons {
          width: 100%;
          height: 30px;
          padding: 10px 0 0;
          text-align: right;
          display: table;
          border-top: 1px dotted #ddd;
          button {
            height: 30px;
            padding-left: 15px;
            padding-right: 15px;
            border: none;
            border-radius: 5px;
            outline: none;
            display: inline-table;
            transition: all 0.3s ease;
            &.btnCancel {
              color: rgba(234, 20, 20, 0.8) !important;
              background-color: #fff !important;
              font-size: 12px;
              margin-right: 5px;
            }
            &.btnConfirm {
              color: #fff !important;
              background-color: rgb(100, 100, 234) !important;
              font-size: 13px;
            }
            &:disabled {
              opacity: 0.8;
            }                 
          }
        }      
      }
    }
  }
  #container-view {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: table;
    table-layout: fixed;
    .container-external {
      display: table-row;
      .container-internal {
        display: table-cell;
        vertical-align: middle;
        .wrapper {
          width: 900px;
          max-width: 100%;
          padding: 20px 15px 20px;
          border: 1px solid #eee;
          box-shadow: 0 2px 4px #ccc;
          border-radius: 5px;
          margin: 0 auto;
          background-color: #fff;
        }
      }
    }
  }
}
   