
modal {
  #container-view {
    .container-data {
      section {
        margin-bottom: 10px;
        h5 {
          line-height: 22px;
          font-size: 13px;
          font-weight: 600;
          margin: 0;
          border-bottom: 1px solid #ddd;
        }
        &.container-informations,
        &.container-proprietary {
          .content {
            padding: 10px 10px 0;
            p {
              margin: 0;
              span {
                font-size: 0.8rem;
                &.label {
                  color: #666;                  
                  font-weight: 600;
                }
                &.value {
                  color: #888;
                  margin-left: 4px;
                }
              }
            } 
          }                  
        }
        &.container-historic {
          .content {
            table {
              margin: 10px 0 0;
              thead {
                tr {
                  border-bottom: 1px dotted #ccc;
                  th {
                    color: #666;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 5px 10px;
                    text-align: center;
                  }
                }
              }
              tbody {
                tr {
                  td {
                    color: #888;
                    padding: 5px 10px;
                    font-size: 14px;   
                    text-align: center;
                    &:nth-child(2) {
                      text-align: left;
                    }                  
                  }
                  &:nth-child(even) {
                    td {
                      background-color: #f4f4f4;
                    }
                  }
                }
              }
            }
            & > p {
              padding: 15px 10px;
              margin: 15px 0 -10px;
              text-align: center;
              font-size: 14px;
              font-weight: 600;
              background-color: #f4f4f4;
              border-radius: 5px;
              &.loading {
                background-color: #d1f0d1;
              }
            }
          }          
        }       
      }
    }
    .container-delete {
      .container-confirmation {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        .container-info {
          padding: 20px 10px;
          p {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: gray;
          }
          small {
            width: 75%;
            margin: 0 auto;
            color: rgba(255, 0, 0, 0.75);
            text-align: center;
            display: block;
          }
        }
        .container-buttons {
          width: 100%;
          height: 30px;
          padding: 10px 0 0;
          text-align: right;
          display: table;
          border-top: 1px dotted #ddd;
          button {
            height: 30px;
            padding-left: 15px;
            padding-right: 15px;
            border: none;
            border-radius: 5px;
            outline: none;
            display: inline-table;
            transition: all 0.3s ease;
            &.btnCancel {
              color: rgba(234, 20, 20, 0.8) !important;
              background-color: #fff !important;
              font-size: 12px;
              margin-right: 5px;
            }
            &.btnConfirm {
              color: #fff !important;
              background-color: rgb(100, 100, 234) !important;
              font-size: 13px;
            }
            &:disabled {
              opacity: 0.8;
            }                 
          }
        }      
      }
    }
  }
  #container-view,
  #container-register,
  #container-data-import,
  #container-data-export {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: table;
    table-layout: fixed;
    .container-external {
      display: table-row;
      .container-internal {
        display: table-cell;
        vertical-align: middle;
        .wrapper {
          width: 900px;
          max-width: 100%;
          padding: 20px 15px 20px;
          border: 1px solid #eee;
          box-shadow: 0 2px 4px #ccc;
          border-radius: 5px;
          margin: 0 auto;
          background-color: #fff;
        }
      }
    }
    @media screen and (max-width: 680px) {
      padding: 0;
      .wrapper {
        padding: 10px 0 !important;
      }
    }
  }
}
