
#sideLayer {
  width: 100%;
  height: 100%;   
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0;
  display: none;
  background-color: #fff;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  .header {
    height: 35px; 
    position: relative;
    margin: 5px 0 10px;
    padding: 5px 10px;
    .btnClose {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 12px;
      padding: 0;
      border: none;
      outline: none;
      border-radius: 100%;
      background-color: #fff;
      color: rgb(102, 102, 255);
      box-shadow: 0 2px 4px #ccc;
      transition: all 0.5s ease-in-out;
      display: inline-table;
      icon {
        font-size: 18px;
      }                      
    }
    .container-titles {
      position: absolute;
      top: 0;
      left: 52px;
      right: 83px;
      span {
        line-height: 13px;
        &.title {
          display: inline-table;
          font-size: 13px;
          font-weight: 600;
          margin-top: 4px;
          color: #555;
          text-overflow: ellipsis;
        }
        &.subtitle {
          font-size: 11px;
          color: #aaa;
          text-overflow: ellipsis;
        }
        &.title, &.subtitle {
          display: block;
        }
      }
    }   
    .container-buttons {
      width: auto;
      position: absolute;
      top: 0;
      right: 12px;
      display: table;
      button {
        width: 30px;
        height: 30px;
        outline: none;
        border: none;
        border-radius: 17px;
        box-shadow: 0 2px 4px #ccc;
        padding: 0;
        margin: 0 1px;        
        transition: all 0.5s ease-in-out;        
        &.btnOthers {
          color: gray;
          background-color: #fff;
          icon {
            font-size: 14px;
          }
        }       
        &:hover {
          opacity: 0.9;
        }
      }
      .dropdown-menu {
        .dropdown-item {
          color: #555;
          font-weight: 500;
          font-size: 13px;
          padding: 5px 10px;
          user-select: none;
          cursor: pointer;
          border-bottom: 1px solid #aaa;
          transition: all 0.3s ease-in-out;
          icon {
            font-size: 13px;
            opacity: 0.85;
            margin-right: 5px;
          }
          &:hover {
            color: #aaa;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
  .content {
    position: relative;
    padding: 10px;
    height: calc(100% - 50px) !important;
    overflow-y: auto !important;
    table {
      font-family: Arial, Helvetica, sans-serif !important;     
      thead {
        tr {
          border-top: none;          
          th {
            color: #888;
            background-color: #e0e0e0;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;       
            border-right: 1px solid #ccc;    
            &.reducePadding {
              padding: 4px 10px 2px;
            }
          }
          td {
            span {                
              text-align: center;
              display: block;
              &.title {
                font-size: 18px;
                font-weight: 600;
                color: #444;
              }
              &.subtitle {
                font-size: 13px;
                margin-top: -4px;
                color: #999;
              }
            }
          }         
          &:first-child {
            background-color: rgb(246, 246, 246);
            td {
              height: 70px;
              vertical-align: middle;
            }
          }
          &.subLine {
            th {
              padding: 0 10px 4px;
            }
          }
        }
      }
      tbody {
        tr {
          border-bottom: none;         
          td {
            padding: 8px;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
            color: #888;
            &.markStringXLS {
              content: "'";
            }
            table {
              width: 100%;
              tr {
                border-bottom: 1px solid #ddd;   
                background-color: transparent !important;                                     
                td {
                  padding: 4px;
                  border: none;
                  text-align: center;
                }
                &:last-child {
                  border-bottom: none;
                }
              }
            }
            &.resetPadding {
              padding: 0;
            }
          }          
          &:nth-child(odd) {
            background-color: rgb(221, 243, 243);
          }
          &:hover {
            background-color: rgba(255, 250, 205, 0.35) !important;
            cursor: default;
          }
        }
      }
      tfoot {
        tr {
          border-top: 4px solid #eee;
          border-bottom: 1px solid #ddd;
          background-color: #ebebeb;
          th {
            padding: 8px;
            font-size: 12px;
            text-align: center;
            color: #888;            
          }
        }
      }
      thead, tbody, tfoot {
        th, td {
          border-right: 1px solid #ddd;
          &.col-small {
            min-width: 110px !important;
          }
          &.col-medium {
            min-width: 138px !important;
          }
          &.col-large {
            min-width: 200px !important;
          }
          &.positive {
            color: coral !important;
          }
          &.negative {
            color: indianred !important;
          }
          &:first-child {
            color: #666 !important;
          }
          &:last-child {
            border-right: none !important;
          }
        }
      }
      tr.storeInfo {
        td {
          vertical-align: middle !important;
          .address, .phone,
          .period {
            line-height: 13px;
          }
        }
      }
      tr.spacerXLS {
        display: none;
      } 
      tr.reportInfo {
        & > td {
          padding: 5px 0 0;
        }
      }
      span.noRecords {
        padding: 50px 15px;
        font-size: 13px;
        text-align: center;
        color: #888;
        background-color: lightcyan;
        display: block;
      }
    }
  }
  &.active {
    display: block !important;
    bottom: 0 !important;
    opacity: 1 !important;
  }
}
