
<layer (callback)="onLayerResponse($event)">
  <ng-container slot="content">

    <div [style.display]="(settings.activeComponent == 'customers' ? 'block' : 'none')">
      <customers-selector (callback)="onCustomerResponse($event)"></customers-selector>
    </div>

    <div [style.display]="(settings.activeComponent == 'products' ? 'block' : 'none')">
      <products-selector (callback)="onProductsResponse($event)"></products-selector>
    </div>

    <div [style.display]="(settings.activeComponent == 'paymentMethods' ? 'block' : 'none')">
      <payment-methods-selector (callback)="onPaymentResponse($event)"></payment-methods-selector>
    </div>

  </ng-container>
</layer>
