<main style="background-image: url('assets/images/Auth/bg-02.png');">
  <div class="wrapper">

    <div class="container-logo">
      <img src="assets/images/Auth/logo.png" />
    </div>    
    
    <div *ngIf="errors?.length && !submitted" outline="danger" role="alert" class="alert alert-danger">

      <p class="alert-title"><b>{{ translate.login.title.error }}</b></p>

      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>

    </div>

    <form [formGroup]="form" (submit)="onSubmit()">
    
      <div class="form-control-group">
        <label for="input-username">{{ translate.login.form.username }}</label>
        <input type="text" formControlName="username" class="form-control" autofocus required />
      </div>
    
      <div class="form-control-group">
        <label for="input-password">{{ translate.login.form.password }}</label>    
        <input type="password" formControlName="password" class="form-control" required />
          
        <div class="clearfix">
          <a class="forgot-password" href="/{{ projectId }}/recuperar-senha">{{ translate.login.form.forgotPassword }}</a>
        </div>        
      </div>

      <button class="form-group" [disabled]="submitted || form.invalid">{{ translate.login.form.button.submit }}</button>

    </form>

  </div>
</main>

<!-- Loader -->

<div id="mainLoadingTaskAuth" class="loadingTask">
  <div class="d-flex w-100 h-100 flex-column justify-content-center align-items-center">
    <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div> 
</div>
