
<modal (callback)="onModalResponse($event)">
  <div slot="content">

    <div id="container-view" *ngIf="(settings.activeComponent === 'PaymentMethods/Read') || (settings.activeComponent === 'PaymentMethods/Delete')">
      <div class="container-external">
        <div class="container-internal">
          <div class="wrapper">
     
            <div class="container-data">
              <section class="info">
                <h5>{{ translate.action.read.section.informations.title }}</h5>

                <div class="content">
                  <p>
                    <span class="label">{{ translate.action.read.section.informations.label.code + ':' }}</span> <span class="value">{{ settings.data.code }}</span>
                  </p>

                  <p>
                    <span class="label">{{ translate.action.read.section.informations.label.name + ':' }}</span> <span class="value">{{ settings.data.name }}</span>
                  </p>

                  <p *ngIf="!settings.data.fees">
                    <span class="label">{{ translate.action.read.section.informations.label.fee + ':' }}</span> <span class="value">{{ (settings.data.fee || 0 | currency:'') + '%' }}</span>
                  </p>
                </div>
              </section>

              <section class="bankAccount" *ngIf="settings.data.bankAccount">
                <h5>{{ translate.action.read.section.bankAccount.title }}</h5>

                <div class="content">
                  <p>
                    <span class="label">{{ translate.action.read.section.bankAccount.label.code + ':' }}</span> <span class="value">{{ settings.data.bankAccount.code }}</span>
                  </p>

                  <p>
                    <span class="label">{{ translate.action.read.section.bankAccount.label.name + ':' }}</span> <span class="value">{{ settings.data.bankAccount.name }}</span>
                  </p>

                  <p>
                    <span class="label">{{ translate.action.read.section.bankAccount.label.agency + ':' }}</span> <span class="value">{{ settings.data.bankAccount.agency }}</span>
                  </p>

                  <p>
                    <span class="label">{{ translate.action.read.section.bankAccount.label.account + ':' }}</span> <span class="value">{{ settings.data.bankAccount.account }}</span>
                  </p>
                </div>
              </section>
                
              <section class="rateTable" *ngIf="settings.data.fees">
                <h5>{{ translate.action.read.section.rateTable.title }}</h5>

                <div class="content">
                  <div class="table-responsive">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th>{{ translate.action.read.section.rateTable.table.parcel }}</th>
                          <th>{{ translate.action.read.section.rateTable.table.fee }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of settings.data.fees">
                          <td>{{ item.parcel }}</td>
                          <td>{{ item.fee | currency:'' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </section>

              <section class="settings" *ngIf="settings.data.uninvoiced">
                <h5>{{ translate.action.read.section.settings.title }}</h5>

                <div class="content">
                  <ul>
                    <li>
                      <p><span class="label">{{ translate.action.read.section.settings.list.uninvoiced.label + ':' }}</span> <span class="value">{{ translate.action.read.section.settings.list.uninvoiced.description }}</span></p>
                    </li>
                  </ul>
                </div>
              </section>
            </div>

            <div class="container-delete" *ngIf="settings.activeComponent === 'PaymentMethods/Delete'">
              <div class="container-confirmation">
                <div class="container-info">
                  <p>{{ translate.action.delete.notice }}</p>
                  <small>{{ translate.action.delete.warning }}</small>
                </div>

                <div class="container-buttons">
                  <button type="button" class="btnCancel" (click)="onClose()">{{ translate.action.delete.option.cancel }}</button>
                  <button type="button" class="btnConfirm" (click)="onDelete()">{{ translate.action.delete.option.confirm }}</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
    <div id="container-register" *ngIf="(settings.activeComponent === 'PaymentMethods/Create') || (settings.activeComponent === 'PaymentMethods/Update')">
      <div class="container-external">
        <div class="container-internal">
          <div class="wrapper">
            <payment-methods-register (callback)="onRegisterResponse($event)"></payment-methods-register>
          </div>
        </div>
      </div>
    </div>
    
    <div id="container-data-export" *ngIf="settings.activeComponent === 'PaymentMethods/DataExport'">
      <div class="container-external">
        <div class="container-internal">
          <div class="wrapper">
            <payment-methods-data-export (callback)="onDataExportResponse($event)"></payment-methods-data-export>
          </div>
        </div>
      </div>
    </div>

  </div>
</modal>
