
<div class="container-controls">

  <div class="cashierControlClosed" *ngIf="settings.activeMode == 'CLOSED'">

    <div class="container-title">
      <h1>{{ translate.open.salutation + ', ' + username + '.'}}</h1>
      <p>{{ translate.open.subtitle }}</p>
    </div>

    <div class="container-info">
      <form class="form" [formGroup]="formCash" (submit)="onConfirmOpening()" autocomplete="off">
        <div class="row" *ngIf="permissions.control?.showOpeningValue || permissions.control?.editOpeningValue">
          <div class="col-12 form-group">
            <label>{{ translate.open.info.opening }}</label>
            <fieldset [disabled]="!permissions.control?.editOpeningValue">
              <input type="text" formControlName="balance" class="form-control" [placeholder]="0 | currency:''" (input)="onApplyPriceMask($event, formControls.balance)" autofocus />
            </fieldset>
          </div>
        </div>

        <fieldset [disabled]="!permissions.control?.opening">
          <button type="submit" class="btn btnSubmit" [disabled]="formCash.invalid">
            <icon name="unlock-outline" pack="eva"></icon> <span>{{ translate.open.button.submit }}</span>
          </button>        
        </fieldset>
      </form>
      
      <div class="container-warning" *ngIf="!permissions.control?.opening">
        <small>{{ translate.open.info.warning }}</small>
      </div> 
    </div>

  </div>

  <div class="cashierControlClosing" *ngIf="settings.activeMode == 'CLOSING'">

    <div class="container-title">
      <h1>{{ translate.close.title }}</h1>
      <p>{{ translate.close.subtitle }}</p>
    </div>

    <div class="container-info" *ngIf="settings.cashierControl">
      <div class="wrapper">
        <p><span class="label">{{ translate.close.info.value.opening + ':' }}</span> <span class="value monetary">{{ settings.cashierControl.opening.value | currency }}</span></p>
        <p><span class="label">{{ translate.close.info.value.current + ':' }}</span> <span class="value monetary">{{ settings.cashierControl.closing.value | currency }}</span></p>
        <hr/>
        <p><span class="label">{{ translate.close.info.opened_by + ':' }}</span> <span class="value">{{ settings.cashierControl.operator.name }}</span></p>
        <p><span class="label">{{ translate.close.info.opened_in + ':' }}</span> <span class="value">{{ settings.cashierControl.opening.date | date:'dd/MM/yyyy HH:mm' }}</span></p>
      </div>

      <div class="container-buttons">        
        <button class="btn btnBack" (click)="onBack()">{{ translate.close.button.back }}</button>
        <button class="btn btnConfirm" (click)="onConfirmClosing()">{{ translate.close.button.confirm }}</button>
      </div>
    </div>

    <placeholder [loading]="!settings.cashierControl" [hasData]="true" [verticalAlign]="true"></placeholder>

  </div>

</div>
