#layout-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;

  #main-container {
    width: 100%;
    height: 100%;
    padding: 10px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
      width: 100%;
      height: 60px;
      min-height: 60px;
      max-height: 60px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      position: relative;
      border-bottom: 1px solid #ddd;
      padding: 0 10px;

      h1 {
        color: #555555;
        font-size: 20px;
        margin: -3px 0 0 10px;
        padding: 0;
      }

      .menuButton {
        width: 35px;
        height: 35px;
        font-size: 22px;
        padding: 0;
        border: none;
        display: none;

        i {
          position: relative;
          top: 2px;
        }
      }

      .buttons-container {
        position: absolute;
        right: 15px;

        button {
          width: 35px;
          height: 35px;
          padding: 0;
          margin-right: 4px;
          border: none;
          border-radius: 100%;
          outline: none;
          display: inline-block;
          text-align: center;
          color: #777777;
          background-color: transparent;
          transition: all 0.5s ease-in-out;

          icon {
            font-size: 23px;
            top: 3px;
          }

          &:active {
            background-color: #999 !important;
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.15);
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .body {
      flex: 1;
      position: relative;
      overflow-y: auto;
    }
  }
}

@media (max-width: 1400px) {
  #layout-container {
    #main-container {
      padding: 0;

      .header {
        .menuButton {
          display: block;
        }
      }
    }
  }
}