
<div id="address-component">
  <div #addressComponent class="row" [formGroup]="form" *ngIf="!loading">
    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <label class="label-cep">CEP</label>
      <div class="container-cep">
        <input type="text" formControlName="cep" placeholder="____-___" class="form-control {{ formControls.cep.errors ? 'required' : '' }}" (input)="onApplyPostalCodeMask($event, formControls.cep)" (keydown.enter)="onCEPData($event)" />
        <button type="button" class="form-control" [nbSpinner]="checkSearchPostCode" nbSpinnerStatus="danger" [disabled]="!((formControls.cep.value && formControls.cep.value.length == 9) && formControls.cep.valid)" (click)="onCEPData($event)"><icon name="search-outline" pack="eva"></icon></button>
      </div>
    </div>

    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Bairro</span>
      <input type="text" class="form-control {{ formControls.bairro.errors ? 'required' : '' }}" formControlName="bairro" placeholder="" />
    </div>

    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Cidade</span>
      <input type="text" class="form-control {{ formControls.descricaoCidade.errors ? 'required' : '' }}" formControlName="descricaoCidade" placeholder="" />
    </div>

    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Código de Cidade</span>
      <input type="text" class="form-control {{ formControls.codigoCidade.errors ? 'required' : '' }}" formControlName="codigoCidade" placeholder="" (input)="onApplyNumberMask($event)"/>
    </div>

    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Estado</span>
      <select class="form-control  {{ formControls.estado.errors ? 'required' : '' }}" formControlName="estado" >
        <option value="{{ state }}" *ngFor="let state of states">{{ state }}</option>
      </select>
    </div>

    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Logradouro</span>
      <input type="text" class="form-control {{ formControls.logradouro.errors ? 'required' : '' }}" formControlName="logradouro" placeholder="" />
    </div>

    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Tipo de Logradouro</span>

      <select class="form-control {{ formControls.tipoBairro.errors ? 'required' : '' }}" formControlName="tipoLogradouro">
        <option>Área</option>
        <option>Acesso</option>
        <option>Acesso Local</option>
        <option>Área Especial</option>
        <option>Aeroporto</option>
        <option>Alameda</option>
        <option>Avenida</option>
        <option>Bloco</option>
        <option>Cais</option>
        <option>Conjunto</option>
        <option>Comunidade</option>
        <option>Condomínio</option>
        <option>Campo</option>
        <option>Chácara</option>
        <option>Colônia</option>
        <option>Distrito</option>
        <option>Estrada</option>
        <option>Estação</option>
        <option>Estância</option>
        <option>Estrada</option>
        <option>Eqnp</option>
        <option>Fazenda</option>
        <option>Praça</option>
        <option>Prolongamento</option>
        <option>Quadra</option>
        <option>Rua</option>
        <option>Reta</option>
        <option>Rodovia</option>
        <option>Sítio</option>
        <option>Travessa</option>
        <option>Vicinal</option>
      </select>
    </div>
    
    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Número</span>
      <input type="text" class="form-control {{ formControls.numero.errors ? 'required' : '' }}" formControlName="numero" placeholder="" />
    </div>
      
    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Complemento</span>
      <input type="text" class="form-control {{ formControls.complemento.errors ? 'required' : '' }}" formControlName="complemento" placeholder="" />
    </div>
    
    <div class="form-group col-12 col-md-4" *ngIf="!isExport">
      <span>Tipo de Bairro</span>

      <select class="form-control  {{ formControls.tipoBairro.errors ? 'required' : '' }}" formControlName="tipoBairro">
        <option>Residencial</option>
        <option>Comercial</option>
        <option>Industrial</option>
        <option>Mista</option>
        <option>Rural</option>
      </select>
    </div>

    <div class="form-group col-12 col-md-12" *ngIf="isExport">
    <div class="form-group col-12 col-md-12" *ngIf="isExport">
      <span>País</span>
      <select class="form-control {{ formControls.descricaoPais.errors ? 'required' : '' }}" formControlName="codigoPais" #country (change)="onChangeCountry(country)">
        <option value="{{ country.code }}" *ngFor="let country of ibgeCountries">{{ country.name }}</option>
      </select>
    </div>


  </div>

</div>
