
#container-main {

  $pendentColor: rgb(153, 153, 153);
  $concludedColor: rgb(102, 102, 255);
  $canceledColor: indianred;  
    
  padding: 0 0 8px;
  position: relative;
  .container-header {
    position: relative;
    height: 32px;
    margin: 15px 10px 0 5px;
    .container-select {
      width: auto;
      position: absolute;
      right: -2px;       
      display: table;
      select {
        padding: 10px;
        min-width: 100px;
        border: none;
        color: #777;
        border-bottom: 1px solid #bbb;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        padding-left: 0;
        padding-right: 2px;
        cursor: pointer;
        option {
          padding: 10px;
        }
      }
    }
  }
  .container-sales,
  .container-inflows,
  .container-outflows {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    ul {
      margin: 15px 0 0; 
      padding: 0;
      li {
        list-style: none;
        padding: 5px;
        user-select: none !important;
        cursor: pointer;
        .wrapper {
          padding: 5px;
          list-style: none;            
          border-radius: 5px;
          border: 1px solid #ddd;
          box-shadow: 0 2px 4px #ddd;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          .change-operator {
            position: absolute;
            right: 15px;
            top: 15px;
            icon {
              color: rgb(90, 118, 119);
              font-size: 17px;
            }
            button {
              width: auto !important;
              padding: 0 0 0 8px;
              height: 30px;
            }
            .edit {
              position: relative;
              left: -6px;
              top: -5px;
              font-size: 14px;
            }
          }
          table {
            margin: 0;
            tr {
              td {
                width: 50%;
                padding: 4px;
                text-align: left;
                vertical-align: middle;
                span {
                  color: #666;
                  font-size: 11px;
                  line-height: 13px;
                  margin: 0;
                  padding: 0;
                  text-align: left;
                  &.label {
                    color: #666;
                    font-weight: 600;
                    margin-right: 4px;
                  }
                  &.value {
                    color: #777;
                  }
                }
                & > span {          
                  margin-left: 10px;
                  display: block;
                }
              }
            }
          }
          .header {
            border-radius: 4px 4px 0 0;
            span {
              margin: 0 0 -2px !important;
              font-size: 14px !important;
              font-weight: 600;
              line-height: 14px;
              background-color: transparent;
            }
            small {
              color: #777;
              margin: 0 0 -2px;
              padding: 0;
              background-color: transparent;
            }
            table {
              td {
                width: 50%;
                padding: 10px !important;
              }
            }
            &.pendent {
              background-color: transparentize($pendentColor, 0.8);          
            }
            &.concluded {
              background-color: transparentize($concludedColor, 0.8);          
            }
            &.canceled {
              background-color: transparentize($canceledColor, 0.8);          
            }
          }
          .info {
            padding-bottom: 5px;
            border-bottom: 1px solid #ddd;                                  
          }
          .footer {
            table {              
              td {
                padding: 10px 0;
                span {
                  margin: 0;
                  font-size: 13px;
                  margin-left: 2px;
                  &.value {
                    color: #888;
                    font-weight: 600;
                  }
                }
                &:first-child {                    
                  text-align: left;
                  min-width: 150px;
                  span.value {
                    color: coral;
                  }
                }        
                &:last-child {
                  min-width: 110px;
                  .btnAction {
                    height: 30px;
                    padding: 0 10px;
                    outline: none;
                    margin: 2px;
                    border-radius: 5px;
                    border: 1px solid #eee;
                    box-shadow: 0 2px 4px #ddd;
                    background-color: #fff;
                    transition: all 0.5s ease-in-out;
                    display: inline-table;
                    font-size: 12px !important;
                    cursor: pointer;
                    &:hover {
                      box-shadow: -1px 1px 4px #ddd !important;
                      border: 1px solid rgb(224, 224, 224) !important;
                    }
                  }
                }
              }
            }            
          }
          &:hover {
            opacity: 0.8;
          }
        }
      } 
    }
  }  
}
