
 @media print {
  * {
    background: transparent;
    color: #000;
    text-shadow: none; 
    filter: none;
   -ms-filter: none;
  }
  #containerAccountExtractPrint {
    header {
      text-align: center;
      margin: 5px 0;
      img {
        width: 140px;
      }
      span {
        display: block;
        font-size: 13px;
        color: #000;
        &.name {
          margin: 4px 0 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
          text-transform: uppercase;
          color: #000;
        }
      }
    }
    section {
      padding: 10px;
      border-top: 1px solid #000;
      margin: 5px 0;
      &.container-info {
        border-bottom: 1px dotted #000;
        .content {
          p {
            margin: 0;
            line-height: 13px;
            span {
              display: inline;
              &.label {
                color: #000;
                font-size: 11px;
                font-weight: 600;
              }
              &.value {
                color: #000;
                font-size: 12px;
                margin-left: 4px;
                &.price {
                  color: goldenrod;
                }
              }
            }
          }
        }                        
      }
      &.container-transactions {
        .content {
          table {
            width: 100%;
            margin-bottom: 5px;
            thead {
              tr {
                border-bottom: 1px solid #aaa;
                th {
                  color: #000;
                  font-size: 12px;
                  font-weight: 600;
                  padding: 5px 10px;
                  text-align: center;
                }
              }
            }
            tbody {
              tr {
                td {
                  color: #000;
                  padding: 2px 10px;
                  font-size: 11px;   
                  text-align: center;
                  &:first-child {
                    width: 120px;
                  }
                  &:nth-child(2) {
                    text-align: left;
                  } 
                  &:nth-child(3) {
                    width: 110px;
                    text-align: left;
                  }              
                  &:last-child {
                    width: 100px;
                    font-weight: 600;
                    span {
                      &.positive {
                        color: coral;
                      }
                      &.negative {
                        color: red;
                      }
                    }
                  }
                }
                &:nth-child(odd) {
                  background-color: #000 !important;
                }
              }
            }
          }
        }
      }   
      &.container-balance {
        .content { 
          padding: 5px; 
          table {
            width: 100%;
            margin: 0;
            tbody {
              tr {
                border-bottom: 1px solid #000;
                td {
                  padding: 5px;
                  vertical-align: middle;
                  .container-fields {
                    margin-top: 10px;
                  }                  
                  span {
                    font-size: 13px;                  
                    &.label {
                      color: #000;
                      font-weight: 400;
                      margin-right: 4px;
                    }
                  }
                  & > span {
                    display: block;
                  }
                  &:last-child {
                    width: 100px;
                    text-align: right;
                    font-weight: 600;
                    color: #000;
                  }
                }
                &:last-child {
                  border-bottom: none;
                }
              }               
            }
          }
        }
      }
      &.container-info,
      &.container-transactions,   
      &.container-balance {
        .label {
          color: #000;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }     
  }
}
